        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Hipolito Bautista - <br> Postman clone</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <div class="h6 font-weight-bold text-primary text-uppercase mb-1 logout">
                <a href = "/logout">Logout</a>
            </div>
                                                

         

        </ul>
        <!-- End of Sidebar -->